{% extends "base.html" %}

{% load allauth i18n socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-4 p-4 shadow text-center general_layout">
            <h1 class="fs-1">{% trans "Sign Up" %}</h1>
            <p>
                {% blocktrans %}Already have an account? Then please login <a href="{{ login_url }}">here</a>.{% endblocktrans %}
            </p>
            <form class="signup" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn general-btn" type="submit">{% trans "Sign up now!" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
