body {
    background-color: #3d281a;
}

.text-shadow {
    text-shadow: 2px 2px 4px #080808;
}

.navbar-bg {
    background-color: #21150e;
}

.navbar-brand {
    font-family: Satisfy, sans-serif;
    font-size: 25px;
}

.navbar-nav li {
    font-family: Courgette, sans-serif;
}

.image-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    padding: 0;
}

h1, h2, h3 {
    font-family: Satisfy, sans-serif;
}

.title h1 {
    font-size: 100px;
    margin: 0;
}

.title h1, h3 {
    color: #fff3e8;
}

.book-btn {
    background-color: #e8c9ad;
    color: #3d281a;
    border: 2px solid #3d281a;
    font-family: 'Satisfy';
    font-size: 25px;
    padding: 4px 12px 0 12px;
}

.menu {
    color: #e8c9ad;
    background-color: #21150e;
    font-family: Courgette, sans-serif;
}

footer {
    color: #e8c9ad;
    background-color: #21150e;
}

footer p {
    margin-bottom: 0;
    font-family: Kalam, sans-serif;
}

i {
    color: #b58b6f;
}

.copyright {
    margin-bottom: 5px;
    font-size: small;
    color: #937962;
}