{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4 p-4 shadow text-center menu">
            <h2 class="fs-1"> Menu</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste minima distinctio dolore ipsa
                    consequatur error! A cupiditate repellat rerum repudiandae nemo. Ut voluptatem impedit velit,
                    voluptates ab reiciendis necessitatibus repudiandae!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste minima distinctio dolore ipsa
                    consequatur error! A
                    cupiditate repellat rerum repudiandae nemo. Ut voluptatem impedit velit, voluptates ab reiciendis
                    necessitatibus
                    repudiandae!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste minima distinctio dolore ipsa
                    consequatur error! A
                    cupiditate repellat rerum repudiandae nemo. Ut voluptatem impedit velit, voluptates ab reiciendis
                    necessitatibus
                    repudiandae!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste minima distinctio dolore ipsa
                    consequatur error! A
                    cupiditate repellat rerum repudiandae nemo. Ut voluptatem impedit velit, voluptates ab reiciendis
                    necessitatibus
                    repudiandae!</p>
        </div>
    </div>
</div>
{% endblock %}